body{
    margin: 0px;
    padding: 0px;
}
#portal{
    right: 100px !important;
}
  a {
    text-decoration: none;
    cursor: pointer;
  }

  .image img {
    width: 40px;
    height: 44px;
    filter: invert(100%);
  }
  /* header{
    position: relative;
    position: fixed;
    width: 1500px;
} */